@import "reset";
@import "_variables";
* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
body {
	height: 100vh;
}
aside {
	font-weight: 700;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 33%;
	background-color: #f0f0f0;
	h1 {
		padding-left: 73px;
		padding-top: 93px;
		text-transform: uppercase;
		color: $red;
		font-size: 60px;
		width: 30%;
		letter-spacing: 1.2px;
		line-height: 1.1;
	}
	.content {
		width: 80%;
		padding: 73px;
		.info {
			color: $red;
			font-size: 24px;
			margin-bottom: 24px;
			line-height: 1.2;
		}
		.coment {
			color: $red;
			margin-bottom: 27px;
			font-size: 19px;
			line-height: 1.2;
		}
	}
	.bottom {
		ul {
			display: flex;
			li {
				font-size: 14px;
				margin-right: 16px;
				border-bottom: 2px solid black;
				padding-bottom: 5px;
				opacity: 0.5;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}
main {
	background-color: #34495e;
	margin-left: 33%;
	header {
		padding: 60px 144px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $white;
		font-size: 33px;
		h1 {
			position: fixed;
		}
	}
	.main__content {
		padding: 108px 144px 98px;
		background: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.1) 5%,
			transparent,
			transparent,
			transparent,
			transparent
		);

		.wrapper {
			display: flex;
			flex-direction: column;
			opacity: 1;
			transition: opacity 0.5s;
			transition: 1500ms ease-in;

			.othani__header {
				margin-bottom: 39px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				h4 {
					color: $white;
					font-size: 4em;
					font-weight: 700;
				}
				h3 {
					align-self: flex-end;
					color: $white;
					font-size: 1.5em;
				}
			}

			img {
				max-width: 990px;
				max-height: 555px;
				border-radius: 7px;
				margin-bottom: 50px;
				box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
					rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
					rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
			}

			.othani__record {
				color: $white;
				text-align: end;
				margin-bottom: 150px;
				.record {
					display: flex;
					gap: 10px;
					table {
						width: 50%;
						height: 100%;
						text-align: center;

						td {
							border: 1px solid skyblue;
							padding: 5px;
						}
					}
				}
			}
		}
	}
}
// 반응형
// $phone: "only screen and (min-width : 769px)";
@media (max-width: 700px) {
	aside {
		position: relative;
		width: 100%;
		height: 100%;
		justify-content: flex-start;

		h1 {
			padding-top: 66px;
			padding-left: 36px;
			font-size: 55px;
		}
		.content {
			width: 100%;
			padding: 36px;
			.info {
				font-size: 20px;
			}
			.coment {
				font-size: 16px;
				line-height: 1.4;
			}
		}
	}
	main {
		margin: 0 auto;
		header {
			padding: 36px 48px;
			h1 {
				position: static;
				color: $white;
				font-size: 20px;
			}
		}
		.main__content {
			padding: 32px;
			.wrapper {
				.othani__header {
					font-size: 7px;
					display: block;
					margin: 0 auto;
					h4 {
						margin-bottom: 24px;
					}
					h3 {
						display: none;
					}
				}
				img {
					height: 250px;
					width: 300px;
					margin: 0 auto;
				}
				.othani__record {
					margin-top: 20px;
					.record {
						justify-content: center;
						// margin-right: 15px;
						gap: 1.5px;
						table {
							td {
								padding: 2px;
							}
						}
					}
				}
			}
		}
	}
}
